<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.demoApp.utilities.ExtentListenerClass"></listener>
	</listeners>
	<test name="CreateAccountTest">
		<classes>
			<class name="com.demoApp.testCases.CreateAccountPageTest">
				<methods>
					<exclude name="createNewAccountTest"></exclude>
				</methods>
			</class>
		</classes>
	</test>
		<test name="LoginTest">
		<classes>
			<class name="com.demoApp.testCases.LoginPageTest" />
		</classes>
	</test>
	<test name="DataDrivenTest" enabled="false">
		<classes>
			<class name="com.demoApp.testCases.LoginPageDataDrivenTest" />
		</classes>
	</test>
	<test name="ProductSearchTest">
		<classes>
			<class name="com.demoApp.testCases.ProductSearchTest">
				<methods>
				<exclude name="goToProductPageTest"></exclude>
				</methods>
			</class>
		</classes>
	</test>
		<test name="BuyProductTest">
		<classes>
			<class name="com.demoApp.testCases.BuyProductTest">
				<methods>
					<include name="clickLoginLinkTest"></include>
					<include name="loginSuccessTest"></include>
					<include name="searchProductTest"></include>
					<include name="findSearchedEntryProductTest"></include>					
					<include name="productAddToCartTest"></include>
					<include name="proceedToCheckoutTest"></include>					
					<include name="checkBillingAddressTest"></include>
					<include name="checkOrderDetailsTest"></include>
					<include name="placeOrderTest"></include>
					<include name="orderSuccessandReceiptTest"></include>
					<include name="printOrderTest"></include>
					<include name="logoutTest"></include>
				</methods>
			</class>
		</classes>
	</test>
</suite> 
