<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.demoApp.utilities.ExtentListenerClass"></listener>
	</listeners>
	<test name="Test" enabled="false">
		<classes>
			<class name="com.demoApp.testCases.CreateAccountPageTest" />
			<class name="com.demoApp.testCases.LoginPageTest" />
		</classes>
	</test>
	<test name="DataDrivenTest" enabled="false">
		<classes>
			<class name="com.demoApp.testCases.LoginPageDataDrivenTest" />
		</classes>
	</test>
	<test name="ProductSearchTest" enabled="false">
		<classes>
			<class name="com.demoApp.testCases.ProductSearchTest" />
		</classes>
	</test>
</suite> 
